{% extends 'base.html.twig' %}

{% block title %}Sponsor index{% endblock %}

{% block body %}
    <h1>Sponsor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Profile</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sponsor in sponsors %}
            <tr>
                <td>{{ sponsor.id }}</td>
                <td>{{ sponsor.name }}</td>
                <td>{{ sponsor.profile }}</td>
                <td>
                    <a href="{{ path('sponsor_associate', {'id': sponsor.id}) }}">
                        Associate with house
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sponsor_new') }}">Create new</a>
{% endblock %}
